/target
tags
.gradle
/local.properties
.DS_Store
/.idea
.log
*.iml
calabash-android/**/*.apk
calabash-android/**/*.png
build
rosie/src/main/assets/GoEuro.db
rosie/src/androidTest/resources/db/
runtimeconf
captures
node_modules
projectFilesBackup/.idea/workspace.xml
yarn-error.log
npm-error.log
rosie-lib/.externalNativeBuild
.project
org.eclipse.buildship.core.prefs
.classpath
.vscode
crashlytics-build.properties
com_crashlytics_export_strings.xml
bundletool
ndk_locator_record.json
omio-data/.cxx
target.apks
snowplow_micro_config/ngrok-stable-linux-amd64.zip
snowplow_micro_config/ngrok
secrets/playstore-upload_key.jks
secrets/goeuro-release-huawei.keystore
secrets/export.sh